@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");

body {
  background-color: black !important;
  color: aqua !important;
}

.App-header {
  position: absolute;
  top: 40%;
  z-index: 1;
  font-family: "Piedra", cursive;
}
h1 {
  font-size: calc(1.5rem + 3vw);
}
.App-link {
  color: #61dafb;
}

.particlesCanva {
  position: absolute;
  background-color: black;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.button1 {
  background: aqua;
  width: 25%;
  min-width: 200px;
  height: 70px;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 40px;
  font-family: "Abel", sans-serif;
  font-size: 28px;
  max-width: 1280px;

  margin: 10px auto;
  padding: 0 20px;
  outline: none;
}
