@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  color: #61dafb !important;
}

.App-header {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: auto;
  margin-top: 5rem;
}
h1 {
  font-size: calc(1rem + 3vw);
  text-transform: uppercase;
  font-family: "Share Tech Mono", monospace;
}
.App-link {
  color: #61dafb;
}
.navigator {
  color: #61dafb;
  position: absolute;
  width: 100%;
  background: transparent;
  font-family: "Share Tech Mono", monospace;
}
.particlesCanva {
  position: absolute;
  background-color: black;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.button1 {
  background: #61dafb;
  width: 25%;
  min-width: 200px;
  height: 70px;
  color: black;
  cursor: pointer;
  transition: all 0.8s;
  border-radius: 40px;
  font-family: "Abel", sans-serif;
  font-size: 28px;
  max-width: 1280px;
  font-family: "Share Tech Mono", monospace;
  margin: 10px auto;
  padding: 0 20px;
  outline: none;
}

.button1:hover {
  background: black;
  color: #61dafb;
  outline: none;
}
